<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>JSONMapper</display-name>
  <welcome-file-list>
    <welcome-file>jsonmapper.jsp</welcome-file>
  </welcome-file-list>
 <!--  <servlet>
    <description></description>
    <display-name>HomePage</display-name>
    <servlet-name>HomePage</servlet-name>
    <servlet-class>HomePage.jsp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomePage</servlet-name>
    <url-pattern>*.*</url-pattern>
  </servlet-mapping> -->
  <servlet>
    <description></description>
    <display-name>JSONMapperServlet</display-name>
    <servlet-name>JSONMapperServlet</servlet-name>
    <servlet-class>com.att.blackflag.json.servlet.JSONMapperServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSONMapperServlet</servlet-name>
    <url-pattern>/JSONMapperServlet</url-pattern>
  </servlet-mapping>
<!-- <servlet>
    <description></description>
    <display-name>ElementMapping</display-name>
    <servlet-name>ElementMapping</servlet-name>
    <servlet-class>test.java.com.att.ElementMapping</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ElementMapping</servlet-name>
    <url-pattern>/ElementMapping</url-pattern>
  </servlet-mapping> -->
</web-app>